* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	height:100%;
  	background: url("../images/background.jpg");
}

.jumbotron {
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: url("../images/space.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

#welcome {
	padding-top: 50px;
	color: white;

}

.teal-back {
	background-color: #56e0ea;
}

.h1font {
	font-family: Georgia;
	color: #ffffff;
}

.container-fluid {
	background-color: #666666;
}

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.container:after {
  content: "";
  display: block;
}

.navbar-right{
	background: #56e0ea;
	padding-bottom: 10px;
}

.navbar-right li {
	margin-top: 9px;
}

#now-playing {
	height: 400px;
}

#events {
	height: 400px;
}

#sports {
	height: 400px;
}

.site-footer, .container:after {
  height: 50px; 
}
.site-footer {
	bottom: 0;
	padding-bottom: 10px;
	border-top: solid 4px #4aaaa5;
	background: #666666;
}
/*#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	border-top: solid 4px #4aaaa5;
	background: #666666;
}
/*Styling the footer text*/
.footer {
	padding-top: 23px;
	color: #cccccc;
}

