* {
    margin: 0; padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg");
}

.jumbotron {
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background: url("../images/space.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

#background_video {
    z-index: -99;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%; width: 100%;
}

#video_cover {
    z-index: -99;
    position: absolute;
    width: 100%; height: 100%;
    background: url('../images/Concrete_Jungle.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(0,0,0,0);
}

#welcome {
    padding-top: 50px;
    color: white;

}

.teal-back {
    background-color: #56e0ea;
}

.h1font {
    padding: 0px 4px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

.dropdown {
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    background-color: #666666;
}

.container {
    margin-top: 90px;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px; 
}
.container:after {
    content: "";
    display: block;
}

.navbar-right{
    background: #56e0ea;
    padding-bottom: 10px;
}

.navbar-right li {
    margin: 12px 0px 7px 0px;
}

#now-playing, #events {
    height: 500px;
    overflow-y: scroll;
}

.panel-movies, .panel-events {
    font-weight: 100;
    font-family: 'Amatic SC', cursive;
}

#movie-title {
    font-family: 'Shojumaru', cursive;
    font-size: 200%;
}

#event-name {
    width: 70%;
}

#event-time {
    font-weight: bold;
}

#list {
    font-family: 'Shojumaru', cursive;
}

.site-footer, .container:after {
  height: 50px; 
}
.site-footer {
    bottom: 0;
    padding-bottom: 10px;
    border-top: solid 4px #4aaaa5;
    background: #666666;
}

/*Styling the footer text*/
.footer {
    padding-top: 10px;
    color: #cccccc;
}

.theaterLocation, .eventLocation {
    width: 75%;
}

/* Styles for Movie.html  Start*/

.movie-panel {
    height: 600px;
    margin-top: 20px;
}

.movie-panel-main {
    height: 600px;
    overflow-y: scroll;
    margin-right: 10px;
    width: 75%;
    background-color: #fff;
}

.movie-panel-side {
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 23%;
}

.movie-card {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: visible;
    margin-bottom: 1.875rem;
    margin-top: 6px;
}

.movie-display, .col-md-3 {
    display: inline-block;
}

.movie-container {
    margin: -20px;
    width: 100%;
}
.movie-posters-link {
    height: 100%;
    display: block;
}

.movie-posters-container {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#movie-gallery {
    overflow-x: scroll;
    margin-top: 20px;
}


.img-thumbnail {
    border:1px solid #000307
    
}

#nowplaying h3 {
    font-size: 18px
}

#nowplaying hr {
    height: 10px;
    border: 0;
    margin-top:0;
    margin-bottom: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.cityhr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 0;
    margin-bottom: 0;
}

#city {
    margin-top: 10px;
}

.moviename {

    text-shadow: 2px 2px 4px #b7b8bc;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 900;
}

.rating {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

h4 {
    margin-top: 0;
}



/* Styles for Movie.html  Ends */

/*Events.html Styles*/
.events-panel-main {
    margin-right: 10px;
    width: 100%;
    background-color: #fff;
    padding-top: 0;
    height: 600px;
    overflow-y: scroll;
}

.performer {

    text-shadow: 2px 2px 4px #b7b8bc;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 900;
}

.event-card {
    position: relative;
    overflow: visible;
    margin-bottom: 1.875rem;
    margin-top: 6px;
}

.event-poster-container {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    height: 100%;
    overflow: hidden;

}


.currentevents h3 {
    font-size: 18px
}

.currentevents hr {
    height: 10px;
    border: 0;
    margin-top:0;
    margin-bottom: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
/*-- End Events.html Styles*/


@media only screen and (max-width: 991px){
    .movie-panel-side {
        width: 75%;
    
    }

    .moviename {

        text-shadow: 2px 2px 4px #b7b8bc;
        font-size: 12px;
        font-weight: 900;
    }

    .performer {

    text-shadow: 2px 2px 4px #b7b8bc;
    font-size: 12px;
    font-weight: 900;
    }
}


/*Style releated to google maps*/

    #location {
        height: 100px;
        width: 100%;
    }


    table {
      font-size: 12px;
    }
    #map {
      width: 440px;
    }
    #listing {
      position: absolute;
      width: 200px;
      height: 470px;
      overflow: auto;
      left: 442px;
      top: 0px;
      cursor: pointer;
      overflow-x: hidden;
    }


    .placeIcon {
      width: 24px;
      height: 24px;
    }
    #resultsTable {
      border-collapse: collapse;
      width: 240px;
    }
    #rating {
      font-size: 13px;
      font-family: Arial Unicode MS;
    }
    .iw_table_row {
      height: 18px;
    }
    .iw_attribute_name {
      font-weight: bold;
      text-align: right;
    }
    .iw_table_icon {
      text-align: right;
    }
/*Google map styles end*/

/* Modal Box Styles*/

.trailer{
    margin: 20px;
}
.modal-content iframe{
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}


.modal-body {
    background-color: black;
}

.modal-header {
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
}

.close {
    color:red;
    font-weight: bolder;
}

/*End Modal*/

#concerts-gallery, #comedy-gallery {
    overflow-x: scroll;
}

